################################
# Embedded build artifacts
################################
build_ninja/
build/
build-*/
cmake-build-*/
*.elf
*.uf2
*.map

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo

################################
# IDE / Editor
################################
.vscode/
.idea/
*.swp
*.swo



################################
# Pico SDK local copy (if any)
################################
pico-sdk/

################################
# Web (frontend / backend)
################################
web/**/node_modules/
web/**/dist/
web/**/build/
web/**/.vite/
web/**/.cache/

.env
.env.*
*.log

################################
# Toolchain / C / C++
################################
*.o
*.a
*.so
*.d
*.exe
*.out

################################
# OS junk
################################
.DS_Store
Thumbs.db
