PORT=3001
MONGODB_URI=mongodb+srv://<db_user>:<db_password>@<name_of_claster>
MONGODB_DB_NAME=humidity_sensor
MQTT_URL=mqtt://localhost:1883
MQTT_USERNAME=replace_me
MQTT_PASSWORD=replace_me
MQTT_CLIENT_ID=<backend_client_id>
HISTORY_INTERVAL_MINUTES=30
