PORT=3001
MONGODB_URI=mongodb://localhost:27017
MONGODB_DB_NAME=humidity_sensor
MQTT_URL=mqtt://localhost:1883
MQTT_USERNAME=replace_me
MQTT_PASSWORD=replace_me
MQTT_CLIENT_ID=humidity-backend
HISTORY_INTERVAL_MINUTES=30
BACKEND_TIMEZONE=UTC
